@charset "utf-8";
/* CSS Document */
.ico_001, .head_bar, .seach_box .tabs li.on, .seach_box .tabs li.on span, .seach_box .bar_box, .seach_box .bar_box .le, .seach_box .bar_box .ri, .seach_box .bar_box .enter, .seach_box .bar_box .go_seach, .nav201106 .line, .nav201106 li, .nav201106 li span { background:url(/images/head_ico.gif) }
.head_bar { width:100%; height:28px; float:left }
.head_bar .con { width:950px; height:28px; line-height:28px; color:#333; margin:0 auto }
.head_bar .con a, .head_bar .con a:visited, .head_bar .con .link span { color:#333; margin:0 10px }
.head_bar .con a:hover { color:#03C }
.head_bar .con .welcome { width:200px; display:block; float:left }
.head_bar .con .link { width:700px; margin-right:-10px; float:right; text-align:right }
.line { background: url("/images/line.gif") repeat-x left top; margin: 15px auto 0; overflow: hidden; padding: 10px 0;}
.clear{ clear: both;}

.load{background: url(/images/ajax-loader.gif) no-repeat; margin: 0 auto; width: 97px; position: relative; height: 16px; line-height: 16px; text-align: right;}
.load_error{background: url(/images/error.png) no-repeat; margin: 0 auto; width: 68px; position: relative; height: 16px; line-height: 16px; text-align: right; color: red;}
.operator {margin: 0 0 0 0;}
.operator ul{display:none;border:#ccc 1px solid ; margin:-27px 0 0 453px; position: fixed;}
.operator ul li{ border-bottom:#ccc 0px dashed; line-height:23px; height:23px; text-align:center; background: #fff;}

.container {margin: 0 auto; width: 950px;}

/*分页*/
#pages{width: 950px; margin: 10px auto; text-align: center;}
#pages .gpages { padding: 4px 9px; border:  1px solid #cbebff; margin: 2px 4px; color: #000000; background: #f2faff; cursor: pointer;}
#pages .current { padding: 4px 9px; border:  1px solid #cbebff; margin: 2px 4px; color: #000000; background: #4fafe7;}
#pages .ash { padding: 4px 9px; border:  1px solid #cbebff; margin: 2px 4px; color: #898989; background: #f2faff;}

/*底部*/
.index_foot { width:950px; text-align:center; padding:10px 0; margin:15px auto 0 auto; background:url(/images/line.gif) left top repeat-x; overflow:hidden }
.index_foot a, .index_foot a:visited { color:#474747 }
.foot_link a, .foot_link a:visited { margin:0 2px }
footer#animated {
	background:#222;
	bottom:0;
	padding:10px 0 8px;
	position:fixed;
	width:100%;
	opacity:0;
	-khtml-opacity: 0;
	-moz-opacity: 0;
}
footer#animated ul {
	list-style:none outside none;
	margin:0 auto;
	text-align:center;
}
footer#animated ul li {
	color:#fff;
	display:inline;
	padding:0 10px;
	text-shadow:1px 1px 3px #000;
}
footer#animated a {
	color:#aaa;
	text-decoration:none;
}
footer#animated a:hover, footer#animated a:focus, footer#animated a:active {
	color:#fff;
	text-decoration:none;
}

/*版图信息表*/
.tab_bar {width: 950px; margin: 0 auto;}
.tab_bar h3{font-weight: bold;}
#tab_body{}
.show_piece{ width: 950px; margin: 0 auto;}
.show_piece .show_head{width: 950px; float: left; height: 20px; margin: 0 auto; text-align: center;background: url("/images/line.gif") repeat-x left 12px; font-size: 14px;}
.show_piece .show_filed{ width: 108px; float: left;}
.show_piece #show_container{width: 950px; margin: 0 auto; display: block;}
.bt_tab{width: 100%; text-align: center; border: 1px solid #bac1cc;}
.bt_tab_th {background:url(/images/bg_search_list_2011_tb_hd.png) repeat; line-height: 49px; height: 49px; color: #454545;font-weight: bold; }
.bt_tab .bt_tab_tr0{ background: #e3e3e3; height: 27px; line-height: 27px; }
.bt_tab .bt_tab_tr1{ background: #f5f5f5; height: 27px; line-height: 27px; }
.bt_tab .bt_tab_th div {width: auto; height: auto; line-height: 100%; border-right: 1px solid #bac1cc;}
.bt_tab .bt_tab_tr0 div, .bt_tab .bt_tab_tr1 div { width: auto; height: 27px; line-height: 27px; border-right: 1px solid #bac1cc; }
.top_page .tab_add_ons {border-top: 1px solid #cbebff;border-left: 1px solid #cbebff;border-right: 1px solid #cbebff; border-bottom: 1px solid #f2faff; width: 130px; text-align: center; background:  #f2faff; margin-bottom: -1px; font-weight: bold;position: relative;left: 20px;}
.x_btn {margin: 3px 9px; }
input[type="button"] {background:url(/images/x_btn_bg.png) repeat; width: 55px; height: 24px;border: 0 none;}
.top_page, .but_page{ width: 950px; margin: 5px auto 5px;  }
.but_page {border: 1px solid #cbebff;background: #f2faff;}
.top_opera_piece{ width: 928px; margin: 0 auto; border: 1px solid #cbebff;background: #f2faff; padding-left: 20px;}
.top_select_pagesize, .but_select_pagesize{width:180px;}
.top_select_pagesize label, .but_select_pagesize label{font-size: 12px;}

/*登录*/
.login_main{clear:both;width:855px; height:300px;margin:0 auto; padding-top:34px;}
.login{width:368px; height:282px;border-bottom:none; float:left; background-color:#f8fdff; margin-right:18px; overflow:hidden;}
.register{width:462px; height:279px;border:1px solid #c2e1fe;float:left;}
.login_top{ height:auto;border:1px solid #c2e1fe; border-bottom:none; }
.login_t{ background:url(/images/login_t.jpg) 10px no-repeat; width:300px; margin:0 auto; height:70px; line-height:70px;}
.login_t h2{font-size:14px; width:110px;float:left;padding-left:50px;}
.login_t a{ display:block; width:100px; float:right;}
.lg_ul{ width:300px;height:160px;margin:0 auto;}
.lg_ul li{float:left; margin-top:10px;}
.text_l{width:48px; padding-left:32px; height:28px; line-height:28px;}
.input_l{ width:200px; height:28px; line-height:28px; border:1px solid #ccc; background-color:#fff; overflow:hidden;}
.input_l input{width:200px; height:28px; line-height:28px;border:none; background:none;}
.lg_ul .btn_l{width:150px; height:34px; padding-left:80px; margin-top:20px; cursor:pointer; }
.lg_ul .btn_l input{ width:86px; height:34px; float:left; cursor:pointer; background:url(/images/login_btn.gif) left top; border:0;}
.btn_l a{float:left; display:block; width:50px;text-align:right; margin:7px 0 0 13px;}
.login_bottom_box{ border-bottom:1px solid red;  border-left:1px solid #c2e1fe; border-right:1px solid #c2e1fe;}
.login_bottom{ position:relative; height:51px; line-height:51px; background-color:#f8fdff; font-size:14px;  }
.login_bottom a{display:block;width:183px;float:left; height:38px;border:1px solid #c2e1fe;text-align:center; line-height:38px; top:11px; background-color:#fff; position:absolute;border-left:none;}
.login_bottom  .safe{background-color:#fff; margin-left:183px; cursor:pointer}
.login_bottom  .safe .tt{ margin:0 auto; background:url(/images/cut.gif) 0 8px no-repeat; height:39px;width:90px; display:block; line-height:39px; }
.login_bottom  .checked .tt{ margin-top:13px;}
.login_bottom a,.login_bottom a:visited{color:#000;}
.login_bottom  .checked{background:url(/images/btn_s.gif) no-repeat; height:51px;font-weight:bold; margin-top:0; border:none; line-height:64px; overflow:hidden; top:0; border-bottom:1px solid #c2e1fe;}
.login_bottom .checked,.login_bottom .checked:visited{color:#055793;}
.register h3{heigth:50px; line-height:50px;font-size:14px;font-weight:normal; background:url(/images/re.gif) 0 10px no-repeat; width:370px; margin:0 auto;padding-left:45px; border-bottom:1px solid #e2e2e2;}
.re_pact{width:400px; margin:20px auto; height:80px;}
.re_pact li{ float:left; height:35px; line-height:35px;width:200px; background:url(/images/xb.gif) no-repeat;text-align:center;}
.re_pact .p1{ background-position:5px -290px;}
.re_pact .p2{ background-position:0 -390px;}
.re_pact .p3{ background-position:0 -340px;}
.re_pact .p4{ background-position:0 -440px;}
.re_btn{ background:url(/images/login_btn.gif) left -38px no-repeat; display:block; width:96px; height:34px; margin:0 auto;}
.login_point { width: 400px; margin: 0px auto; }

/*提示框*/
.box {
	padding: 8px;
	margin-bottom:8px;
	color:#555;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background:#eee;
}
.box-error{
	padding-left: 32px;
	border-top:1px solid #F8ACAC;
	border-bottom:1px solid #F8ACAC;
	background:#FFD1D1 url("/images/exclamation.png") no-repeat 8px 50%;
}

/*导入数据*/
.import_ul{ width:300px;height:160px;margin:0 auto;}
.import_ul li{float:left; margin-top:10px;}
.import_ul .btn_l{width:130px; height:34px; padding-left:80px; margin-top:20px; cursor:pointer; }
.import_ul .btn_l input{ width:86px; height:34px; float:left; cursor:pointer; background:url(/images/update_btn.gif); border:0;}
.text_import{width:68px; padding-left:5px; height:28px; line-height:28px;}
.import_t{ background:url(/images/pencil_48.png) 10px no-repeat; width:100px; margin:0 auto; height:70px; line-height:70px;}
.import_t h2{font-size:14px; width:110px;float:left;padding-left:50px;}
.import_t a{ display:block; width:100px; float:right;}
.input_import{ width:215px; height:28px; line-height:28px; border:1px solid #ccc; background-color:#fff; overflow:hidden;}
.input_import input{width:200px; height:28px; line-height:28px; background-color:#fff;border-color:#C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;border-style:solid;border-width:1px;}

/*弹出编辑层*/
#tinybox{position:absolute; display:none; padding:10px; background:#ffffff url(/images/preload.gif) no-repeat 50% 50%; border:10px solid #e3e3e3; z-index:2000;}
#tinymask{position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000000; z-index:1500;}
#tinycontent{background:#ffffff; font-size:1.1em;}
#tinycontent div lebal {}
#tinycontent div input {width: 98px;}