@charset "utf-8";
/* CSS Document */
.ico_001, .head_bar, .seach_box .tabs li.on, .seach_box .tabs li.on span, .seach_box .bar_box, .seach_box .bar_box .le, .seach_box .bar_box .ri, .seach_box .bar_box .enter, .seach_box .bar_box .go_seach, .nav201106 .line, .nav201106 li, .nav201106 li span { background:url(../images/index/head_ico.gif) }
.head_201106 { width:100% }
.head_bar { width:100%; height:28px; float:left }
.head_bar .con { width:950px; height:28px; line-height:28px; color:#333; margin:0 auto }
.head_bar .con a, .head_bar .con a:visited { color:#333; margin:0 10px }
.head_bar .con a:hover { color:#03C }
.head_bar .con .welcome { width:200px; display:block; float:left }
.head_bar .con .link { width:700px; margin-right:-10px; float:right; text-align:right }
/*LOGO部分*/
.head_mid { width:950px; height:116px; margin:0 auto }
.head_mid .logo_2011 { width:304px; float:left }
.head_mid .logo_2011 img { float:left }
.head_mid .logo_2011 .city_name { width:89px; padding:43px 0 0 11px; float:left }
/*搜索条*/
.seach_box { width:552px; padding-top:18px; float:right }
.seach_box .tabs { width:546px; position:relative; z-index:90; height:23px; float:left }
.seach_box .tabs li { display:inline-block; overflow:hidden; padding-left:18px; height:23px; float:left }
.seach_box .tabs li span { display:inline-block; height:23px; padding-right:18px; overflow:hidden }
.seach_box .tabs li.on { background-position:left -30px }
.seach_box .tabs li.on span { background-position:right -30px; line-height:23px; padding-right:14px }
.seach_box .tabs li span a, .seach_box .tabs li span a:visited { color:#333; font-size:12px; line-height:23px; font-weight:normal; font-family: "宋体", "Arial Narrow" }
.seach_box .tabs li.on span a, .seach_box .tabs li.on span a:visited{ color:#fff}
.seach_box .bar_box { width:546px; position:relative; z-index:89; padding:3px 3px 0 3px; height:34px; float:left; background-position:left -97px }
.seach_box .bar_box .le { width:3px; background-position:left -55px; font-size:0; overflow:hidden; height:34px; position:absolute; left:0; top:0 }
.seach_box .bar_box .ri { width:3px; background-position:right -55px; height:34px; font-size:0; overflow:hidden; position:absolute; right:0; top:0 }
.seach_box .bar_box .enter { width:411px; height:14px; line-height:14px; padding:7px 0 7px 26px; background-position:6px -145px; background-repeat:no-repeat; background-color:#FFF; border:0; float:left; font-size:14px }
.seach_box .bar_box .go_seach { width:80px; height:28px; float:left; cursor:pointer; background-position:left -185px; border:0; margin-left:17px }
.popular_searches { width:496px; height:15px; line-height:15px; color:#737373; overflow:hidden; padding:7px 0 7px 7px }
.popular_searches a, .popular_searches a:visited { color:#737373; margin:0 5px }
.popular_searches a:hover { color:#039 }
/*导航菜单*/
.nav201106 { width:950px; margin:0 auto; overflow:hidden; height:49px }
.nav201106 .con { width:662px; height:34px; float:left }
.nav201106 li { display:inline-block; margin-right:5px; overflow:hidden; padding-left:15px; height:34px; float:left; background-position:left -256px }
.nav201106 li span { display:inline-block; padding-right:15px; height:34px; overflow:hidden; background-position:right -256px }
.nav201106 li.on { background-position:left -30px; background-position:left -216px }
.nav201106 li.on span { background-position:right -30px; background-position:right -216px }
.nav201106 li a, .seach_box .tabs li a:visited { color:#666; font-weight:bold; font-size:14px; line-height:34px; font-family: "宋体", "Arial Narrow" }
.nav201106 li.on a, .nav201106 li.on a:visited { color:#FFF }
.nav201106 .hotline { width:283px; padding-top:5px; float:right }
.nav201106 .line { width:950px; float:left; height:15px; background-position:left -294px }
/*头部结束---------------------------------------------------------------------------------------------------------------------------*/
/*小图标*/
.ico, .oper-lin a, .page a.pagelin1, .role_list .one_list li, .img_tool a, .up-pop a.close, .mess_img_show .tool a { background:url(../images/ico.gif) }
/*图片及按钮*/
.ico1, .city_select, .city_select font, a.but09, a.but09 span { background:url(../images/ico1.gif) }
/*宽小背景*/
.bg, .right_con_box .xs li.dot, .attention_list li, .web_page a.next, .web_page a.pre, .web_page span.pre01, .web_page span.next01 { background:url(../images/bg1.gif) }
/*头部*/
.head { width:953px; margin:0 auto; height:116px; position:relative; z-index:8; }
.head .logo { width:182px; padding:15px 0 0 18px; float:left;}
.city { width:70px; margin:30px 0 0 0; padding:0 0 0 20px;z-index:30;}
/*.city { width:70px; margin:40px 0 0 0; padding:0 0 0 20px;z-index:30; background:url(../images/city_line.gif) left top repeat-y}*/
/*搜索条
.seach_box { width:624px; float:right; padding:0}
.seach_box .tex_link { width:624px; height:20px; line-height:20px; padding:16px 0; text-align:right }
.seach_box .tex_link a, .seach_box .tex_link a:visited { color:#222222; text-decoration:none }
.seach_box .tex_link a:hover { text-decoration:underline; color:#F00 }
.seach_box .seach_bar { width:480px; height:34px; padding:4px 4px 0 4px; background-position:left -361px; float:right }
.seach_box .seach_bar .le_ico,.seach_box .seach_bar .ri_ico{ width:4px; height:38px; font-size:0; overflow:hidden; position: absolute}
.seach_box .seach_bar .le_ico{ left:0; top:0; background-position:left -320px}
.seach_box .seach_bar .ri_ico{ right:0; top:0; background-position:right -320px}

.seach_box .seach_bar .con { width:391px; background:#FFF; float:left; position: relative; z-index:10; height:28px; border:#ccc solid 1px; border-style:solid none solid solid; }
.seach_box .seach_bar .con .selet { padding:0; width:88px; text-align:left; color:#646464; border-right:#ccc solid 1px; height:28px; background-repeat:no-repeat; line-height:28px; background-position:right -284px; padding-left:12px; display:block; float:left; font-size:14px; cursor:pointer; }
.seach_box .seach_bar .bk { width:310px; font-size:14px; background:none; padding:4px; float:left; height:19px; border:0; position:absolute; _top:2px; }
.seach_box .seach_bar .but { width:80px; float:left; height:30px; line-height:30px; border:0; font-size:14px; font-weight:bold; color:#FFF; background-position:left -192px; font-family: '宋体', Simsun; cursor:pointer }
#selet_class_box { width:100px; background:#FFF; border-style:none solid solid solid; border-color:#CCC; border-width:1px; position:absolute; z-index:20; left:-1px; top:29px; padding:5px 0; }
#selet_class_box li { padding-left:13px; }
#selet_class_box li a, #selet_class_box li a:visited { color:#575757 }
#selet_class_box li a:hover { color:#F00 }*/
/*选择城市*/
.city_con { width:370px; overflow:hidden; padding:15px; border:#78c1fa solid 1px; background:#FFF; position:absolute; left:20px; top:50px; }
.city_con dl { width:100%; border-bottom:#e4e4e4 dashed 1px; margin-top:-1px; margin-bottom:10px; float:left }
.city_con dt { color: #999; float: left; width: 60px; }
.city_con dd { margin-left:60px }
.city_con li { float: left; margin: 0 5px 0 0; padding-bottom:3px; width: 48px; }
.city_con li a, .city_con li a:visited { color:#61646e }
.city_con li a:hover { color:#F00 }
.city_con .more { text-align:right; }
.city a, .city a:visited{ color:#1E1E1E; font-size:12px; margin-left:11px; text-decoration:none}
.city a.switch, .city a.switch:visited { width:62px; margin:0 0 0 0; height:20px; vertical-align:bottom; background-position:left -230px; display:inline-block; color:#1e1e1e;font-size:12px;text-decoration:none}
.city h2{ font-size:16px; color:#F00; padding-bottom:7px;}
.city a:hover { color:#F00;text-decoration:underline}



.city-con { left:20px;padding:10px;top:60px;width:352px;background-color:#fff;border:#5fc0ed solid 1px; z-index:900}
.city-jt { width:13px;left:26px;top:-7px;height:7px; font-size:0; background:url(../images/jt_ico.gif)}
.city-con li { width:60px;display:inline;position:relative;text-align:center;background-color:#f3f3f3;margin:5px;height:30px;line-height:30px;overflow:hidden;float:left;}
.city-con li a.open, .city-con li a.open:visited { color:#ee3e00}
.city-con li.on { background-color:#4493e2;font-weight:bold}
.city-con li.on a, .city-con li.on a:visited { color:#FFF}
.city-con li a, .city-con li a:visited { margin:0}
.city font { font-size:16px;font-weight:bold;color:#ff0000}
.city a:hover { color:#F00;text-decoration:underline}
.other-city{ float:right}




/*导航菜单*/
.menu_bg,.menum li,.menum li a span.dot{ background:url(../images/menu_bg.gif)}
.menu_box{ width:100%; position:relative; float:left; z-index:4; height:48px; background-position:left -80px; background-repeat:repeat-x;}
.menu { width:998px; margin:0 auto;}
.menul { width:4px;background-position:left -30px}
.menum { width:977px; padding-left:14px; position:relative;}
.menum li { float:left;background-position:right -129px; position:relative; padding:0 35px; height:48px; line-height:48px;}
.menur { width:4px;background-position:-7px -30px;}
.menum li a, .menum li a:visited { position:relative; z-index:10; color:#FFF;cursor:pointer;display:inline-block;font-size:14px;font-weight:bold;text-decoration:none;}
.menum li a:hover{ color:#fff} 
.menum li span {height:48px; display:inline-block;line-height:48px}
.menum li a span.dot,.menum li a:visited span.dot{ padding-right:20px; background-position:right -188px}

.menum li a:hover span.dot,.menum li a.on,.menum li a.on:visited{ color:#000}
.menum li a.on:hover span.dot,.menum li a.on:visited span.dot,.menum li a.on span.dot{ background-position:right -237px}
.sub_menu{ width:128px; display:none; border:#73b0f1 solid 2px; background:#FFF; position:absolute; left:8px; top:5px;}
.sub_menu .tit{ width:128px; height:35px; background:#e8f9ff}
.sub_menu .con a,.sub_menu .con{ padding:4px 0}
.sub_menu .con a,.sub_menu .con a:visited{ color:#414141; display:inline-block; width:114px; line-height:28px; padding:0 0 0 14px; font-size:14px; font-weight:normal;}
.sub_menu .con a:hover{ background:#e8f9ff; color:#000}
.top_tel{ float:right; width:210px; height:48px; line-height:48px; font-size:14px; font-weight:bold; color:#FFF; padding-left:40px; background-position:left -12px; background-repeat:no-repeat}


















/*首页主体*/
.main_box { width:953px; margin:0 auto; overflow:hidden }
.main_left { width:687px; float:left }
.main_right { padding-left:17px; width:249px; float:left; }
/*内页主体*/
.page_left { width:754px; float:left }
.page_right { width:196px; float:left }
/*底部版权*/
.foot { width:953px; line-height:28px; overflow:hidden; margin:0 auto; color:#1d1d1d; text-align:center; padding:10px 0 }
.foot a, .foot a:visited { color:#1d1d1d; margin:0 5px }
/*弹窗框架*/
.pop_box { margin:0 auto; border:#dbdbdb solid 2px; background:#FFF }
.pop_box .hd, .pop_box .hd .lt, .pop_box .hd .rt, .pop_box .hd .close a, .pop_box .pop_bot, .pop_box .pop_bot .bl, .pop_box .pop_bot .br { background: url(../images/pop_ico.gif) }
.pop_box .hd { height:37px; background-position:left -50px; position:relative; }
.pop_box .hd h2 { display:inline-block; padding-left:16px; line-height:37px; color:#3b3b3b; font-size:14px; }
.pop_box .hd .lt, .pop_box .hd .rt { position:absolute; width:16px; height:37px; }
.pop_box .hd .rt { right:0; top:0; background-position:right top }
.pop_box .hd .close { float:right; padding:13px 16px 0 0 }
.pop_box .hd .close a, .pop_box .hd .close a:visited { width:12px; height:12px; display:inline-block; background-position:-30px -13px }
.pop_box .hd .close a:hover { background-position:-57px -13px }
.pop_box .mid { background:#FFF; overflow:hidden }
.pop_box .pop_bot { height:11px; background-position:left -131px; }
.pop_box .pop_bot .bl, .pop_box .pop_bot .br { width:22px; height:11px; }
.pop_box .pop_bot .bl { float:left; background-position:left -116px }
.pop_box .pop_bot .br { float:right; background-position:right -116px }
/*分页*/
.web_page { width:740px; float:left; padding:15px 0; text-align:center; }
.web_page a, .web_page a:visited { height:19px; color:#0265cd; line-height:19px; display:inline-block; padding:0 6px; vertical-align:bottom; margin:0 2px; border:#cccccc solid 1px; }
.web_page a.next, .web_page a.next:visited { background-position:right -142px; padding-right:10px; background-repeat:no-repeat }
.web_page a.pre, .web_page a.pre:visited { background-position:left -173px; background-repeat:no-repeat; padding-left:10px; }
.web_page span { padding:0 6px; margin:0 2px; display:inline-block; font-family:Tahoma, Arial; vertical-align:bottom }
.web_page span.selet { font-weight:bold; color:#F00; }
.web_page span.pre01 { height:19px; color:#999999; line-height:19px; background-position:left -189px; background-repeat:no-repeat; padding-left:10px; border:#cccccc solid 1px; background-color:#f8f8f8 }
.web_page span.next01 { height:19px; color:#999999; line-height:19px; background-position:right -159px; background-repeat:no-repeat; padding-right:10px; border:#cccccc solid 1px; background-color:#f8f8f8 }
/*当前位置*/
.location { width:950px; padding:13px 0; color:#181818 }
.location .tex { width:740px }
.location a, .location a:visited { color:#1c45cc }
.location a:hover { color:#F00 }
.location p { display:inline-block; float:right }
.location p strong { color:#fe0000 }
/*位置分类*/
.all_class_wrap { padding-right:20px; float:left; }
.all_class { position: relative; width:90px; height:22px; cursor:pointer; background:url(../images/shop_info/ico.gif) 0 -237px no-repeat; z-index:1; }
.all_class .first_class { display:none; font-size:13px; }
.all_class_wrap div.on .first_class { position:absolute; width:97px; top:20px; display:block; border:1px solid #d31403; background-color:#fff; font-weight:bold; z-index:2; }
.all_class .first_class .first { height:28px; padding:5px 0 2px 0; line-height:28px; border-bottom:1px #ccc dashed; position:relative; z-index:3; }
.all_class .first_class .first div { height:28px; line-height:28px; padding:0 23px; display:block; position:absolute; z-index:4; white-space:nowrap; }
.all_class .first_class .first div a { color:#000; font-weight:bold; text-decoration:none; }
.first_class li.selected div { height:26px; line-height:26px; border:1px solid #d31403; padding:0 23px; border-left:none; background-color:#FFF; border-right:none; padding:0 20px; position: absolute; z-index:5; width:55px; }
.first_class li.selected div a { height:26px; line-height:26px; display:block; background-color:#FFF; width:55px; }
.first_class li ul { display:none; }
.first_class li.selected ul { width:200px; z-index:1; background-color:#fff; border:1px solid #d31403; display:block; position:absolute; left:100px; top:5px; }
.first_class li.selected ul li { float:left; height:30px; line-height:30px; padding:5px 20px; }
/*右侧模块*/
.business_right_module .hd { background:url(../images/business/business_bg.gif) }
.business_right_module { width:196px; padding-bottom:15px; }
.business_right_module .hd { width:196px; height:33px; line-height:33px; background-position:left -196px; }
.business_right_module .hd h2 { color:#010101; font-size:14px; padding-left:10px }
.business_right_module .hd h2 a, .business_right_module .hd h2 a:visited { margin-right:10px; font-size:12px; font-family: '宋体', Simsun; font-weight:normal; color:#034fc1 }
.business_right_module .con_box { width:194px; float:left; border:#d3d3d3 solid 1px; }
/*商户信息*/
.shop_info { padding:13px 5px; width:184px; font-family: '宋体', Simsun; }
.shop_info .name h2 { font-size:14px; }
.shop_info .con li { margin-top:4px }
.shop_info .con span { display:inline-block; float:left; font-family:SimSun; }
.shop_info .con .lw { width:60px; }
.shop_info .con .rw { width:115px; }
.shop_info .con span.phone { font-weight:bold; color:#F00 }
.shop_info .gz { padding:10px 0; width:184px; float:left; }
.shop_info .gz a.jia_but, .shop_info .gz a.jia_but:visited, .shop_info .gz a.jia_but:hover { width:84px; height:27px; line-height:27px; color:#FFF; font-family: SimSun; text-decoration:none; float:left; font-weight:bold; display:inline-block; text-align:center; background-position:left -66px; }
.contact { width:100%; padding:0 0 15px 0; float:left }
.contact .phone_01 { float:left; height:23px; line-height:23px; padding-left:31px; background-position:left -114px; color: #E60012; font-size: 16px; font-weight:bold; margin-right:10px; background-repeat:no-repeat }
.contact .phone_01 font { color:#333; font-size:14px; font-weight:bold; display:inline-block; margin:0 2px; }
.contact .tex { float:left }
.shop_info .gz span { padding-left:10px; line-height:27px; float:left; display:inline-block; }
.shareTo { position: relative; clear:both; top:0; }
/*灰色小按钮*/
a.but09, a.but09:visited { margin:0 5px; display:inline-block; height:23px; line-height:23px; padding-left:10px; background-position:left -152px }
a.but09 span { display:inline-block; padding-right:10px; background-position:right -152px; cursor:pointer; }
.bd_bor { border:#CCC solid 1px; height:18px; line-height:18px; padding:2px; font-size:13px; color:#333 }
.bd_bor1 { border:#7f9db9 solid 1px; height:18px; line-height:18px; padding:2px; font-size:13px; color:#333 }